body{
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* background-color: #1F2937; */
    background: url("./../images/wallpaper.jpg");
    background-position: 50% 30%;
    background-attachment: fixed;
}

ul{
    margin: 0px;
    padding: 0px;
}

.header{
    display:flex;
    align-items: center;
    background-color: #b64a02e8;
    gap: 48px;
    justify-content: space-around;
}

.headerlink{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.logo {
    font-size: 24px;
    color:#F9FAF8;
}

.logo-container {
    margin-left: 64px;
}

.listlinks {
    list-style-type: none;
    display:flex;
    gap: 8px;
    /* margin-left: auto; */
    margin-right: 64px;
}

/* Styling for elements in the "landing" section start here!!! */
.landing{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 72px 0px;
    /* gap: 32px; */
    background-color: #b4876da4;
    margin-bottom: 32px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

/* .landing-container{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 48px 72px;
    background-color: #b4876da4;
    border-radius: 24px;
} */

.hello {
    flex: 0 1 500px;
}

.hello h1{
    font-size: 48px;
    font-weight: bolder;
    color:#fff7f1;
    margin-bottom: 0px;
}

.hello p{
    font-size: 18px;
    color:#fff7f1;
}

button{
    background-color: #f37d2fe8;
    border-radius: 8px;
    padding: 8px 12px;
    color:#fff7f1;
    border-style:none;
    font-weight: bold;
}

.image-container{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    height: 300px;
    flex: 0 0 600px;
    border-style: solid;
    border-color: #f37d2f75;
    border-radius: 40px;
    border-width: 2px;
}

.image-container:hover{
    border-color: rgb(245, 102, 66);
}

/*Styling for elements in the infoscetion scetion start here!!!*/

.infosection{
    height: 400px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-text{
    font-size: 36px;
    font-weight:bolder;
    color: #fff7f1;
    margin-bottom: 16px;
    background-color: #f37d2f73;
    padding: 8px 32px;
    border-radius: 15px;
}

.imagerow{
    display:flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 16px;
    background-color: #b4876da4;
    padding: 32px 64px;
    border-radius: 24px;
}

.imagerow-element{
    flex: 0 0 200px;
    text-align: center;
}

.imagerow-element p{
    color: #fff7f1;
    background-color: #f37d2f73;
    padding: 8px 16px;
    border-radius: 12px;
}

.image-container-small{
    border-style: solid;
    border-radius: 20px;
    height: 200px;
    width: 200px;
    border-color: #b49481a6;
    object-fit: cover;
    transition: transform .2s;
}

.image-container-small:hover{
    border-color:rgb(245, 102, 66);
    transform:scale(1.2);
}

/*Styling for elements in the quotesection section begin here! */

.quotesection{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #b4876da4;
    padding:100px 0;
    border-radius: 15px;
    margin-top: 100px;
}

.quote-container{
    display: flex;
    flex-direction: column;
    flex: 0 1 600px;
    justify-content: center;
    /* background-color: #b4876da4;
    padding: 20px 45px;
    border-radius: 15px; */
}

.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    margin-bottom: 8px;
    color: #fff7f1;
}

.quotesrc{
    align-self: flex-end;
}

/* Styling for elements in the last-signup-beg section begin here!!!!*/

.last-signup-beg{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.signup-container{
    border-radius: 16px;
    background-color: #f37d2fe8;
    flex: 0 1 800px;
    display: flex;
    justify-content: space-around;
    padding: 24px 0px;
}

.signup-container h2 {
    font-size: 20px;
    color:#F9FAF8;
    margin-bottom: 4px;
}

.signup-container p {
    font-size:16px;
    color: #F9FAF8;
    margin-top:4px;
}

.signup-container button{
    border-color: #F9FAF8;
    border-style: solid;
    border-width: 2px;
    padding: 8px 12px;
    align-self: center;
}

/*Rules for the footer go here!!!*/
.footer{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #b64a02e8;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 16px 0px;
    flex: 0 0 auto;
}

.footer-text{
    color:#fff7f1;
    font-size: 16px;
    font-weight: bolder;
}


