body{
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* background-color: #1F2937; */
}

ul{
    margin: 0px;
    padding: 0px;
}

.header{
    display:flex;
    align-items: center;
    background-color: #1F2937;
    gap: 48px;
    justify-content: space-around;
}

.headerlink{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.logo {
    font-size: 24px;
    color:#F9FAF8;
}

.logo-container {
    margin-left: 64px;
}

.listlinks {
    list-style-type: none;
    display:flex;
    gap: 8px;
    /* margin-left: auto; */
    margin-right: 64px;
}

/* Styling for elements in the "landing" section start here!!! */
.landing{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 72px 0px;
    /* gap: 32px; */
    background-color: #1F2937;
}

.hello {
    flex: 0 1 500px;
}

.hello h1{
    font-size: 48px;
    font-weight: bolder;
    color:#F9FAF8;
    margin-bottom: 0px;
}

.hello p{
    font-size: 18px;
    color:#E5E7EB;
}

button{
    background-color: #3882F6;
    border-radius: 8px;
    padding: 8px 12px;
    color:#E5E7EB;
    border-style:none;
}

.image-container{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    height: 300px;
    flex: 0 0 600px;
}

/*Styling for elements in the infoscetion scetion start here!!!*/

.infosection{
    height: 400px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-text{
    font-size: 36px;
    font-weight:bolder;
    color: #1F2937;
    margin-bottom: 16px;
}

.imagerow{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.imagerow-element{
    flex: 0 0 200px;
    text-align: center;
}

.image-container-small{
    border-style: solid;
    border-radius: 20px;
    height: 200px;
    width: auto;
    border-color: #3882F6;
}

/*Styling for elements in the quotesection section begin here! */

.quotesection{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding:100px 0;
}

.quote-container{
    display: flex;
    flex-direction: column;
    flex: 0 1 600px;
    justify-content: center;
}

.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    margin-bottom: 8px;
}

.quotesrc{
    align-self: flex-end;
}

/* Styling for elements in the last-signup-beg section begin here!!!!*/

.last-signup-beg{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.signup-container{
    border-radius: 16px;
    background-color: #3882F6;
    flex: 0 1 800px;
    display: flex;
    justify-content: space-around;
    padding: 24px 0px;
}

.signup-container h2 {
    font-size: 20px;
    color:#F9FAF8;
    margin-bottom: 4px;
}

.signup-container p {
    font-size:16px;
    color: #F9FAF8;
    margin-top:4px;
}

.signup-container button{
    border-color: #F9FAF8;
    border-style: solid;
    border-width: 2px;
    padding: 8px 12px;
    align-self: center;
}

/*Rules for the footer go here!!!*/
.footer{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 16px 0px;
    flex: 0 0 auto;
}

.footer-text{
    color:#E5E7EB;
    font-size: 16px;
}


